.contact {
    padding: 6.25rem 1.25rem;
}

textarea, input {
    width: 100%;
    padding: 0.87rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    border: 1px solid #f0e09f;
    border-radius: 5px;
    /* height: 48px; */
    padding-left: 1.12rem;
    font-size: 0.81rem;
    background: transparent;
    color: black;
}

textarea:focus,
input:focus {
    outline: 0;
    box-shadow: none;
}

.half-row {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.contact__firstname {
    padding-right: 1.5rem;
}

.contact__email {
    padding-left: 1.5rem;
}

.contact__send {
    margin-top: 0px;
    padding: 14px;
}
