/* Core styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    transition: all 0.3s ease-in-out;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px; /*  */
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(141, 98, 17);
}

.button {
    border: none;
    background-color: rgba(242, 73, 12, 0.798);
    background-size: 200% auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 1.26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-position: right center;
}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 0.32rem;
    width: 80px;
    height: 4px;
    background-color: rgba(242, 73, 12, 0.798);
    filter: blur(4px);
    border-radius: 4px;
}

/* Main header styles */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.main-header__brand img {
    width: 64px;
}

.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a {
    color: rgba(242, 73, 12, 0.798);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}

/* Footer section styles */

.footer {
    padding: 50px 0;
    margin-top: 80px;
    background-color: rgba(255, 166, 0, 0.582);
    text-align: center;
}

.footer__brand img {
    width: 128px;
}

.footer__navigation-items {
    margin-bottom: 20px
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__socials {
    list-style: none;
    padding-left: 16px;
}

.footer__social {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: white;
    border-radius: 36px;
    color: rgb(89, 61, 9);
    font-size: 1.3rem;
    margin-right: 12px;
}

.footer__social a {
    color: rgb(255, 166, 0);
}

.footer__text {
    color: black;
}

/* @media only screen and (max-width: 767px) {
    .container {
        width: 96%;
    }
    .main-navigation {
        display: none;
    }
} */